.App {
  color: #0f2c59;
  text-align: center;
}

.container {
  width: 16rem;
  height: 28rem;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(248, 240, 229, 1) 20%
  );
}
